[submodule "inputs"]
	path = inputs
	url = https://jugit.fz-juelich.de/hhu_course_algorithms_and_advanced_programming/data.git
	branch = master
	datalad-id = 84993c06-469a-11ea-9875-f832e4bcbbfb
[submodule "code/improc"]
	path = code/improc
	url = https://github.com/robinwitte/improc.git
	branch = master
[submodule "outputs"]
	path = outputs
	url = ./outputs
	branch = master
	datalad-id = 77f93934-4e69-11ea-8b10-9801a7ae0ff5
